# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utils/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Log files
*.log

# Operating System
.DS_Store
Thumbs.db

.env