# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.utils/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Log files
*.log
logs/

# Node & Build artifacts
node_modules/
dist/
easygig-test-automation/node_modules/
easygig-test-automation/dist/
easygig-test-automation/allure-results/
easygig-test-automation/allure-report/
easygig-test-automation/.features-gen/

# Operating System
.DS_Store
Thumbs.db

.env